
#purple_background{
    position: absolute;
    left: 25%;
    right: 25%;
    padding: 10px;
    margin: 69 auto;
    background-image: linear-gradient(0deg,#4d0b78, #1f0930);
    border-style: solid;
    border-left-width: 15px;
    border-right-width: 15px;
    /*border-image: linear-gradient(160deg, #a54e07, #b47e11, #fef1a2, #bc881b, #a54e07);*/
    border-image: 
    linear-gradient(180deg, #a54e07, #b47e11, #fef1a2, #bc881b, #a54e07) 1 100%;
    height: 100%;
    width: 50%;
}
#balancetext{
    text-align:center;
    position: absolute;
    top: 0;
    left: 30%;
    right: 30%;
    width: 40%;
    font-family: FuturaPtBook;
    font-size: 160%;
    background-image: linear-gradient(160deg, #a54e07, #b47e11, #fef1a2, #bc881b, #a54e07); 
    color: transparent;
    -webkit-background-clip:text;
    z-index: 4;
}
#lucky_wheel {
    margin:  60 auto;
}
#lucky_wheel_backplate {
    position:  absolute;
    max-width: 75%;
    min-width: 400px;
    left: 12.5%;
    right: 12.5%;
    /*pointer-events: none;*/
    z-index: 1;
    animation: ;
}
#lucky_wheel_border {
    position: absolute;
    max-width: 75%;
    min-width: 400px;
    left: 12.5%;
    right: 12.5%;
    /*pointer-events: none;*/
    z-index: 2;
} 
#buttons{ 
    display: flex;
    justify-content: center;
    align-content: center;
    width: 20%;
    margin: auto;
    margin-top: 73.25%;
    margin-bottom: 0%;
}
.spinbuttons{
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    font-family: MomCakeBold;
    border: none;
    border-radius: 15px;
}
.golden-btn + .golden-btn { margin-top: 1em; }

.golden-btn {
  display: inline-block;
  outline: none;
  font-family: inherit;
  font-size: 1em;
  box-sizing: border-box;
  border: none;
  border-radius: .3em;
  height: 2.75em;
  line-height: 2.5em;
  text-transform: uppercase;
  padding: 0 2em;
  box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(110,80,20,.4),
              inset 0 -2px 5px 1px rgba(139,66,8,1),
              inset 0 -1px 1px 3px rgba(250,227,133,1);
  background-image: linear-gradient(160deg, #a54e07, #b47e11, #fef1a2, #bc881b, #a54e07);
  border: 1px solid #a55d07;
  color: rgb(120,50,5);
  text-shadow: 0 2px 2px rgba(250, 227, 133, 1);
  cursor: pointer;
  transition: all .2s ease-in-out;
  background-size: 100% 100%;
  background-position:center;
  margin: 60 auto;
  z-index: 3;
}
.golden-btn:hover {
  background-size: 150% 150%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23),
                inset 0 -2px 5px 1px #b17d10,
                inset 0 -1px 1px 3px rgba(250,227,133,1);
  border: 1px solid rgba(165,93,7,.6);
  color: rgba(120,50,5,.8);
}
.golden-btn:active {
  box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(110,80,20,.4),
              inset 0 -2px 5px 1px #b17d10,
                inset 0 -1px 1px 3px rgba(250,227,133,1);
}
#spindeg{
    visibility: hidden;
}
@keyframes spin {
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(1440deg);
    }
}