function blackbg(x) {
    x.style.backgroundColor='rgba(34,34,34,255)';
}
function greybg(x) {
    x.style.backgroundColor='#333';
}
function sleep(milliseconds) {
  const date = Date.now();
  let currentDate = null;
  do {
    currentDate = Date.now();
  } while (currentDate - date < milliseconds);
}
window.onscroll = function() {scrollFunction()};
function scrollFunction() {
  if (document.body.scrollTop > 30 || document.documentElement.scrollTop > 30) {
    document.getElementById("navbar").style.backgroundColor='rgba(34,34,34,0.9)';
  } else {
    document.getElementById("navbar").style.backgroundColor='rgba(34,34,34,1)';
    document.getElementById("navbar").style.backgroundColor='#333';
  }
}
/* || SLOT MACHINE */
#slot_machine{
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    margin: 100 auto;
}
#slots{
    --angle: 0deg;
    display: inline-block;
    overflow: hidden;
    width: 31%;
    padding: 5px;
    padding-bottom: 5px;
    margin: auto;
    background: linear-gradient(var(--angle), #2db1e3, #2db1e3, #2db1e3, #cc25c6, #cc25c6, #cc25c6);
    border-radius: 53px;
    border-collapse: separate; 
    animation: 20s borderspin linear infinite;  
    display: flex;
    justify-content: center;
    align-content: center;
    width: 50%;
    height: 350px;
    margin: 50 auto;
    z-index: 2;
}
#slots_background{
    border-radius: 50px;
    border-collapse: separate; 
    display: flex;
    justify-content: center;
    align-content: center;
    height: 350px;
    width: 100%;
    background-color: #333;
    z-index: 2;
}
.slots{
    height: 71.5%;
    width: 30%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 0px;
    z-index: 2;
}
/* || SLOT MACHINE BUTTONS {CLEAN UP/REDUCE CODE LATER}*/
#buttons{ 
    background-color: rgba(34,34,34,255);
    display: flex;
    justify-content: center;
    align-content: center;
    width: 20%;
    margin: 0 auto;
}
.spinbuttons{
    display: inline-block;
    padding: 15px 25px;
    margin: 0 auto;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    font-family: MomCakeBold;
    border: none;
    border-radius: 15px;
    z-index: 2;*/
}
#stopbutton {
  border: none;
  padding: 0.8em 2.5em;
  margin: 0 20;
  outline: none;
  color: white;
  font-style: 1.2em;
  position: relative;
  z-index: 1;
  cursor: pointer;
  background: none;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.45);
}

#stopbutton:before,
#stopbutton:after {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 10em;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 105%;
  height: 105%;
  content: "";
  z-index: -2;
  background-size: 400% 400%;
  background: #cc25c6;
}

#stopbutton:before {
  -webkit-filter: blur(7px);
  filter: blur(7px);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-animation: pulse 10s infinite ease;
  animation: pulse 10s infinite ease;
}

#stopbutton:after {
  -webkit-filter: blur(0.3px);
  filter: blur(0.3px);
}

#stopbutton:hover:before {
  width: 115%;
  height: 115%;
}

.button {
  border: none;
  padding: 0.8em 2.5em;
  margin: 0 20;
  outline: none;
  color: white;
  font-style: 1.2em;
  position: relative;
  z-index: 1;
  cursor: pointer;
  background: none;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.45);
}

.button:before,
.button:after {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 10em;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 105%;
  height: 105%;
  content: "";
  z-index: -2;
  background-size: 400% 400%;
  background: #2db1e3;
}

.button:before {
  -webkit-filter: blur(7px);
  filter: blur(7px);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-animation: pulse 10s infinite ease;
  animation: pulse 10s infinite ease;
}

.button:after {
  -webkit-filter: blur(0.3px);
  filter: blur(0.3px);
}

.button:hover:before {
  width: 115%;
  height: 115%;
}
#betting{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-family: FuturaPtBook;
    color: white;
}
#balance{
    font-family: FuturaPtBook;
    color: white;
}
#balancetext{
    font-family: FuturaPtBook;
    color: white;
    padding-left: 5px;
}
#betamount{
    border-radius: 15px;
    border-style: none;
    border: 0px;
    background-color: #333;
    padding-left: 5px;
    font-family: FuturaPtBook;
    font-size: 20px;
    color: white;
    height: 40px;
    width: 80px;
}
#bettext{
    font-family: FuturaPtBook;
    color: white;
    padding-left: 10px;
}
@keyframes borderspin {
  to {
    --angle: 360deg;
  }
}
@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}